.book-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75rem;
    height: 10.625rem;
    background-color: white;
    margin-left: 6.25rem;
    margin-bottom: 1rem;
}

.book-info{
  margin-left: 1.7rem;
}

.book-btn{
    border: none;
    color: #4386bf;
    background-color: white;
    margin-top: 1.5rem;
    padding-right: 1rem;
    padding-left:1rem;
    border-right: rgb(187, 186, 186) 1px solid;
}

.comment-btn{
  padding-left: 0;
}

.edit-btn{
  border-right: none;
}

.completeness{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.completeness-circle{
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.completeness-num{
    font-size: 2rem;
    color: #121212;;
    margin:0;
}

.completeness-txt{
    font-size: 0.875rem;
    color: #121212;;
    margin:0;
    margin-left: 0.2rem;
}

.category-text{
  width: 3.063rem;
  height: 1.125rem;
  /* margin: 0 2.438rem 0 0; */
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title-text{
  width: 12.313rem;
  height: 1.813rem;
  /* margin: 0.188rem 20.188rem 0 0; */
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author-text{
  /* width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab; */
  font-size: 0.875rem;
  /* font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #4386bf;

}

.current-chapter{
  /* width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: RobotoSlab; */
  font-size: 0.813rem;
  /* font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #121212;
  margin-left: 10rem;
  margin-right: 10rem;
}

.chaper-number{
  /* width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab; */
  font-size: 1rem;
  /* font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px; */
  color: #121212;
}

.update-btn{
  width: 10.5rem;
  height: 2.813rem;
  /* padding: 0.801rem 1.188rem 0.886rem 1.375rem; */
  border: none;
  color: white;
  background-color: #0290ff;
}
